{% extends "base.html.twig" %}
{% block body %}
    <div class = container>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        <br/>
        {{ form_row(form.phone) }}
        {{ form_row(form.email) }}
        {{ form_row(form.region) }}
        <br/>
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        <br/>
        <button type="submit">Register !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}