{% extends "base.html.twig" %}
{% block nav %}
    <nav>
        <a href="{{ path('home') }}">Home</a> |
        <a href="{{ path('advertisment_show') }}">My Advertisments</a> |
        <a href="{{ path('logout') }}">Logout</a> |
    </nav>
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.creationDate) }}
    <br/>
    <button type="submit">Save !</button>
    {{ form_end(form) }}
{% endblock %}