{% extends "base.html.twig" %}
{% block body %}
    <div class = "container">

        {{ form_start(form) }}
        {{ form_row(form.region) }}
        {{ form_row(form.category) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.price) }}
        {{ form_row(form.creationDate) }}
        <div class="row">
            <div class="col-xs-4">
                <img src=" {{ asset('uploads/photos/' ~ advertisment.photo) }}"
                     alt=" {{ advertisment.title }}" width="80% "/>
            </div>
            <div class="col-xs-8">
                {{ form_row(form.uploadPhoto) }}
            </div>
        </div>
        <br/>
        <button type="submit">Save !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}