{% extends "base.html.twig" %}
{% block body %}
    <br/>
    <div class="container-fluid">
        <table class="table">
            <div class="row">
                <tr>
                    <th class="col-xs-1">Action</th>
                    <th class="col-xs-2">Photo</th>
                    <th class="col-xs-3">Title</th>
                    <th class="col-xs-1">Price</th>
                    <th class="col-xs-1">Creation Date</th>
                    <th class="col-xs-1">Category</th>
                    <th class="col-xs-2">Region</th>
                    <th class="col-xs-1">Active</th>
                </tr>
            </div>

            {% for advertisment in advertisments %}
                <div class  = row>
                    <tr>
                        <td class="col-xs-1">
                            <a onclick="return confirm('are you sure?');" href="{{ url("advertisment_delete", {"advertisment":advertisment.id}) }}">Delete</a>
                        </td>

                        <td class="col-xs-2">
                            <a href="{{ url("advertisment_update", {"advertisment":advertisment.id}) }}">
                                <img src=" {{ asset('uploads/photos/' ~ advertisment.photo) }}"
                                     alt=" {{ advertisment.title }}" width="80% "/>
                            </a>
                        </td>

                        <td class="col-xs-3">{{ advertisment.title }}</td>
                        <td class="col-xs-1">{{ advertisment.price }}</td>
                        <td class="col-xs-1">{{ advertisment.creationDate|date }}</td>
                        <td class="col-xs-1">{% if (advertisment.category is not null) %} {{ advertisment.category.name }} {% endif %}</td>
                        <td class="col-xs-2">{% if (advertisment.region is not null) %} {{ advertisment.region.name }} {% endif %}</td>
                        <td class="col-xs-1">{% if (not advertisment.active) %} HIDDEN {% endif %}</td>
                    </tr>
                </div>
            {% else %}
                <tr>
                    <td colspan="3">No content available</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}