{% extends "base.html.twig" %}
{% block nav %}
   <nav>
       <a href="{{ path('home') }}">Home</a> |
       <a href="{{ path('advertisment_show') }}">My Advertisments</a> |
       <a href="{{ path('advertisment_add') }}">Add Advertisment</a> |
       <a href="{{ path('logout') }}">Logout</a> |
   </nav>
{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Creation Date</th>
        </tr>
        {% for advertisment in advertisments %}
            <tr>
                <td>
                    <a href="{{ url("advertisment_update", {"advertisment":advertisment.id}) }}">{{ advertisment.title }}</a>
                </td>
                <td>{{ advertisment.creationDate|date }}</td>
                <td>
                    <a onclick="return confirm('are you sure?');" href="{{ url("advertisment_delete", {"advertisment":advertisment.id}) }}">Delete</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="3">No content available</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}