{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <img src=" {{ asset('uploads/photos/' ~ advertisment.photo) }}"
                     alt=" {{ advertisment.title }}" width="100% "/>
            </div>
            <div class="col-xs-6">
                <h3 class="row">Title</h3>
                <h4 class="row">{{ advertisment.title }}</h4>
                <h3 class="row">Description</h3>
                <h4 class="row">{{ advertisment.description }}</h4>
                <h3 class="row">Creation date</h3>
                <h4 class="row">{{ advertisment.creationDate|date }}</h4>

            </div>
        </div>
    </div>

{% endblock %}